# Reddit API
REDDIT_CLIENT_ID=your_client_id_here
REDDIT_CLIENT_SECRET=your_client_secret_here
REDDIT_USER_AGENT=StockSentiment/1.0

# News API (newsapi.org)
NEWS_API_KEY=8c845e5168db4af1acb3036dbb341a67
SEC_API_KEY=57449dcdedc4a95727faaac95403e728b14faf15028685d0c6b5dfaee4fe49f5

# Alpha Vantage (for financials)
ALPHA_VANTAGE_API_KEY=CHC0GF26Z1CA0MGN

# Optional: Other API Keys
FINNHUB_API_KEY=d5ujtshr01qr4f89go00d5ujtshr01qr4f89go0g
POLYGON_API_KEY=2Nn_vhPlECYZCTn8lEuFTvFII7qlxrNd
